body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.Page {
  min-height: 600px;
}

.main-screen {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("./assets/img1.jpg") no-repeat center / cover;
  height: 70vh;
}

.img-overlay {
  width: 100%;
  height: 100%;
  background-color: black;
}

.text-box {
  padding-top: 160px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  opacity: 1;
  width: 40%;
  margin: 120px auto;
}

.Description {
  font-size: 19px;
  font-family: sans-serif;
}

.description {
  margin-top:100px;
}

.bg-primary {
  background-color: #778899;
}

.text-primary {
  color: #778899;
}

.add-btn {
  cursor: pointer;
}

.add-btn-icon:hover {
  color: blue !important;
}

.Arrow {
  margin-top: 100px;
  font-size: 50px;
}

.space {
  min-height: 400px;
}